{% extends 'hospital/base.html' %}
{% block body %}
<doctype html>
<html>
		<div class="container">
		<br></br>
		<br></br>
		
		<div class="row">
			<ul>
			<li><div class="darkestBG col-sm-3"> <img src="http://www.iconsdb.com/icons/preview/black/html-xxl.png"><div></li>
			<li><div class="darkestBG col-sm-6">
			<strong>Web Designer</strong><br></br>Asif Chayan is responsible for the front end of web development, which is HTML and CSS based. He is currently a student at Hunter College.
			<br></br>
			Email: asif_chayan@yahoo.com</div></li>
			</ul>
		</div>
		<br></br>
		<br></br>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
	</body>
</html>
{% endblock %}