{% extends 'hospital/base.html' %}
{% block body %}
<doctype html>
<html>
		<div class="container">		
		<div class="row">
			<ul>
			<br></br>
			<li><div class="darkestBG col-md-5"> <img src="http://www.seas.upenn.edu/~cis197/fall2014/build/images/logo.png"><div></li>
			<br></br>
			<li><div class="darkestBG col-md-6">
			<strong>Django Developer</strong><br></br>Data Visualization/JS Developer</strong><br></br>Jeffrey Young is responsible for the data visualization methods, which are Javascript based. He is currently a student at Hunter College.
			<br></br>
			Email: jeffrey_young@gmail.com</div></li>
			</ul>
		</div>
		<br></br>
		<br></br>
		<br></br>
		

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
	</body>
</html>
{% endblock %}