{% extends 'hospital/base.html' %}
{% block body %}
<doctype html>
<html>
		<div class="container">
		<br></br>
		<br></br>
		
		<div class="row">
			<ul>
			<li><div class="darkestBG col-sm-5"> <img src="http://images1.wikia.nocookie.net/__cb20100613040032/htmlcss/images/a/a4/HTMLCSS.png"><div></li>
			<li><div class="darkestBG col-sm-6">
			<strong>Web Designer</strong><br></br>Asif Chayan is responsible for the front end of web development, which is HTML and CSS based. He is currently a student at Hunter College.
			<br></br>
			Email: casif13@gmail.com</div></li>
			</ul>
		</div>
		<br></br>
		<br></br>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
	</body>
</html>
{% endblock %}